<div class="container">
    <table class="table">
        <caption style="caption-side: top;">List Todos</caption>
        <thead>
            
            <th>Description</th>
            <th>Target Date</th>
            <th>Is Completed</th>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate |date}}</td>
                <td>{{todo.isDone}}</td>
                
            </tr>
        </tbody>
    </table>
</div>