<div class="container alert alert-success" id="myAlert" *ngIf="message">{{message}}</div>
<div class="container">
    <table class="table">
        <caption style="caption-side: top;">List Todos</caption>
        <thead>
            
            <th>Description</th>
            <th>Target Date</th>
            <th>Is Completed</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate |date}}</td>
                <td>{{todo.done}}</td>
                <td><button class="btn btn-warning" (click)="handleDeleteTodo(todo.id)">Delete Todo</button></td>
                
            </tr>
        </tbody>
    </table>
</div>